body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
}

/* LOGIN BOX */
.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.login-box h2,
.login-box p {
    color: #222;
}

.login-box h2 {
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
}

/* INPUTS */
.login-box input {
    width: 90%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 16px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.login-box input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

/* BUTTON */
.login-box button {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    background: linear-gradient(90deg, #007BFF, #00C6FF);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.login-box button:hover {
    transform: scale(1.03);
}

/* LINK */
.login-box > a {
    display: block;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
}

/* PASSWORD BOX */
.password-box {
    position: relative;
    width: 90%;
    margin: 10px auto;
}

.password-box input {
    width: 100%;
    padding: 14px;
    padding-right: 40px;
    box-sizing: border-box;
}

.toggle-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

/* FOOTER */
.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #222;
}

/* CLICKABLE AUTHOR */
.footer a{
    display:inline-block;
    margin:0 4px;
    padding:5px 12px;
    border-radius:20px;
    background:linear-gradient(90deg,#007BFF,#00C6FF);
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
    animation:glow 2s infinite;
}

.footer a:hover{
    transform:translateY(-2px) scale(1.08);
    box-shadow:0 5px 15px rgba(0,123,255,.5);
}

.footer a:active{
    transform:scale(.95);
}

@keyframes glow{
    0%{
        box-shadow:0 0 5px rgba(0,123,255,.4);
    }
    50%{
        box-shadow:0 0 18px rgba(0,198,255,.8);
    }
    100%{
        box-shadow:0 0 5px rgba(0,123,255,.4);
    }
}